<section class="contact">
  <h2 class="title">Contattami</h2>

  <form class="form" (ngSubmit)="submit()" [formGroup]="form" novalidate>
    <div class="row">
      <label class="field">
        <input type="text" formControlName="name" placeholder=" " required (blur)="onFieldBlur('name')"/>
        <span class="field-label">nome</span>
        <svg class="field-icon" viewBox="0 0 24 24" aria-hidden="true" (mouseenter)="showTooltip('name')" (mouseleave)="hideTooltip('name')">
          <path d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z"/>
        </svg>
        <div class="field-tooltip" [class.show]="tooltipVisible === 'name'">
          Inserisci il tuo nome
        </div>
      </label>
      <label class="field">
        <input type="text" formControlName="surname" placeholder=" " required (blur)="onFieldBlur('surname')"/>
        <span class="field-label">cognome</span>
        <svg class="field-icon" viewBox="0 0 24 24" aria-hidden="true" (mouseenter)="showTooltip('surname')" (mouseleave)="hideTooltip('surname')">
          <path d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z"/>
        </svg>
        <div class="field-tooltip" [class.show]="tooltipVisible === 'surname'">
          Inserisci il tuo cognome
        </div>
      </label>
      <label class="field">
        <input type="email" formControlName="email" placeholder=" " required (blur)="onFieldBlur('email')"/>
        <span class="field-label">Email</span>
        <svg class="field-icon" viewBox="0 0 24 24" aria-hidden="true" (mouseenter)="showTooltip('email')" (mouseleave)="hideTooltip('email')">
          <path d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z"/>
        </svg>
        <div class="field-tooltip" [class.show]="tooltipVisible === 'email'">
          Inserisci un indirizzo email valido
        </div>
      </label>
    </div>

    <label class="field field--textarea">
      <textarea rows="6" formControlName="message" placeholder=" " required (blur)="onFieldBlur('message')"></textarea>
      <span class="field-label">Il tuo messaggio...</span>
      <svg class="field-icon" viewBox="0 0 24 24" aria-hidden="true" (mouseenter)="showTooltip('message')" (mouseleave)="hideTooltip('message')">
        <path d="M11,18H13V16H11V18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4M12,6A4,4 0 0,0 8,10H10A2,2 0 0,1 12,8A2,2 0 0,1 14,10C14,12 11,11.75 11,15H13C13,12.75 16,12.5 16,10A4,4 0 0,0 12,6Z"/>
      </svg>
      <div class="field-tooltip" [class.show]="tooltipVisible === 'message'">
        Scrivi minimo 10 caratteri
      </div>
    </label>
    <!-- Consenso privacy -->
    <label class="field consent">
      <input type="checkbox" formControlName="consent" (blur)="onFieldBlur('consent')"/>
      <span>Acconsento al trattamento dei dati.</span>
    </label>
    <!-- Honeypot (nascosto) -->
    <input 
      type="text"
      formControlName="website"
      tabindex="-1"
      autocomplete="off"
      aria-hidden="true"
      style="position:absolute; left:-9999px; opacity:0; height:0; width:0;"
    >

    <div class="actions">
      <button type="submit" class="btn" [disabled]="sending">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
          <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
        </svg>
        @if (!sending) {
          <span>Invia</span>
        } @else if (sending) {
          <span>Invio...</span>
        }
      </button>
    </div>
  </form>
</section>