nav button:hover {
    cursor: pointer;
}

nav button {
    font-weight: 600;
    background: none;
    border: none;
    margin: 0 0 0 30px;
    padding: 10px;
    color: var(--light-gray-70);
}

nav .is-active {
    color:  var(--light-gray);
}