.profile__avatar {
  border: 1px solid var(--border-primary);
  border-radius: 16px;
  background: var(--bg-card);
  margin: 20px;
  transition: border-color var(--transition-1), background var(--transition-1);
}

.profile__avatar img {
  display: block;
}