<nav class="flex gap-4">
  <button routerLink="/about"     routerLinkActive="is-active">Chi sono</button>
  <button routerLink="/curriculum" routerLinkActive="is-active">Curriculum</button>
  <button routerLink="/progetti"  routerLinkActive="is-active">Progetti</button>
  <button routerLink="/attestati"  routerLinkActive="is-active">Attestati</button>
  <button routerLink="/contatti"  routerLinkActive="is-active">Contatti</button>
  <button routerLink="/accedi"  routerLinkActive="is-active">Accedi</button>
</nav>