.profile__avatar {
  border: 1px solid color-mix(in oklab, var(--bg-gradient-onyx) 40%, transparent);
  border-radius: 16px;
  background: var(--bg-gradient-onyx);
  margin: 20px;
}

.profile__avatar img {
  display: block;
}