<div class="description-field">
  <span class="description-field__label">
    DESCRIZIONE:
    @if (isEditMode()) {
      <span class="description-field__required">*</span>
    }
  </span>
  @if (isEditMode()) {
    <textarea 
      [value]="description()"
      (input)="onDescriptionChange($event)"
      class="description-field__textarea"
      placeholder="Inserisci una descrizione del progetto..."
      rows="6"
      maxlength="1000"></textarea>
  } @else {
    @if (currentDescription()) {
      <p class="description-field__text">{{ currentDescription() }}</p>
    }
  }
</div>

