.card {
  border-radius: 16px;
  background: rgba(255,255,255,0.04);
  overflow: hidden;
  transition: transform .25s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
}

.media {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.meta {
  padding: 12px 14px 16px;
}

.title {
  margin: 0 0 6px;
  font-weight: 600;
  color: var(--white-2);
  font-size: var(--fs-5);
}

.category {
  margin: 0;
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.poster,
.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .3s ease;
}

/* di default: mostra immagine, nasconde video */
.poster {
  opacity: 1;
  z-index: 1;
}

.video  {
  opacity: 0;
  z-index: 0;
}

/* quando si fa hover sulla card */
.card:hover .poster {
  opacity: 0;
}

.card:hover .video  {
  opacity: 1;
}